html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  @extend %body_font;
  background: #f9f7f4;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 15px;
}