.reference-modal-window {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.reference-modal-window-size {
  position: relative;
  width: auto;
  margin: 10px;
}
.reference-modal-window-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fdf3b6;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.reference-modal-window-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  font-size: 28px;
  line-height: 135%;
  overflow: auto;
}
.reference-modal-window-caption {
  margin: 10px 0px 0px 0px;
  text-align: center;
  letter-spacing: 0.4em;

  &-border {
    position: relative;
    padding: 0 15px;

    &:before {
      content: "";
      z-index: 1;
      @extend %border-sketch;
      height: 48px;
      border-right-color: transparent;
      transform: rotate(2deg);
    }

    &:after {
      content: "";
      z-index: 1;
      @extend %border-sketch;
      height: 48px;
      border-left-color: transparent;
      border-top-color: transparent;
      transform: rotate(-1deg);
    }
  }
}

.reference-modal-window-close-btn {
  float: right;
  width: 1.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5rem;
  opacity: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.reference-modal-window-show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.show-hide-description {
  display: none;
}

.reference-modal-window-item {
  list-style-position: inside;
  list-style-type: decimal;
}

.reference-modal-window-add-link-box,
.reference-modal-window-edit-link-box,
.reference-modal-window-ok-link-box,
.reference-modal-window-all-link-box,
.reference-modal-window-save-link-box {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 0 0.3em 0;
  color: darkblue;
}

.reference-modal-window-add-link:focus,
.reference-modal-window-edit-link:focus,
.reference-modal-window-ok-link:focus,
.reference-modal-window-all-link:focus,
.reference-modal-window-save-link:focus {
  outline: none;
}

.reference-modal-window-add-link-box::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 68px;
  background: url(../images/underline_item_dark_blue.png) no-repeat 75% 95%;
  opacity: 0;
  transition: opacity 300ms, transform 300ms ease-in-out;
  transform: scaleX(0);
}

.reference-modal-window-edit-link-box::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 68px;
  background: url(../images/underline_item_dark_blue190.png) no-repeat 100% 95%;
  opacity: 0;
  transition: opacity 300ms, transform 300ms ease-in-out;
  transform: scaleX(0);
}

.reference-modal-window-ok-link-box::before,
.reference-modal-window-all-link-box::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 68px;
  background: url(../images/underline_item_dark_blue323.png) no-repeat 100% 93%;
  opacity: 0;
  transition: opacity 300ms, transform 300ms ease-in-out;
  transform: scaleX(0);
}

.reference-modal-window-save-link-box::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 68px;
  background: url(../images/underline_item_dark_blue239.png) no-repeat 100% 97%;
  opacity: 0;
  transition: opacity 300ms, transform 300ms ease-in-out;
  transform: scaleX(0);
}

.reference-modal-window-ok-link-box:hover::before,
.reference-modal-window-add-link-box:hover::before,
.reference-modal-window-edit-link-box:hover::before,
.reference-modal-window-all-link-box:hover::before,
.reference-modal-window-save-link-box:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.reference-modal-window-add {
  &-text {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 150px;
  }

  &-box-img {
    position: absolute;
    top: -15%;
    left: 64%;
    height: 55px;
    width: 100%;
    max-width: 55px;
    opacity: 0.8;
  }
}

.reference-modal-window-edit {
  &-text {
    position: relative;
    display: inline-block;
    width: 200px;
  }

  &-box-img {
    position: absolute;
    top: 0%;
    left: 77%;
    height: 40px;
    width: 100%;
    max-width: 40px;
  }
}

.reference-modal-window-delete {
  &-text {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 150px;
  }

  &-box-img {
    position: absolute;
    top: -8%;
    left: 62%;
    height: 37px;
    width: 100%;
    max-width: 37px;
  }
}

.reference-modal-window-ok {
  &-text {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 150px;
  }

  &-box-img {
    position: absolute;
    top: 0%;
    left: 60%;
    height: 35px;
    width: 100%;
    max-width: 35px;
    opacity: 0.7;
  }
}
.reference-modal-window-select-all {
  &-text {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 190px;
  }

  &-box-img {
    position: absolute;
    top: -28%;
    left: 64%;
    height: 61px;
    width: 100%;
    max-width: 61px;
  }
}
.reference-modal-window-remouve-all {
  &-text {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 250px;
  }

  &-box-img {
    position: absolute;
    top: -10%;
    left: 82%;
    height: 61px;
    width: 100%;
    max-width: 61px;
  }
}

.reference-modal-window-save {
  &-text {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 235px;
  }

  &-box-img {
    position: absolute;
    top: 0%;
    left: 78%;
    height: 37px;
    width: 100%;
    max-width: 37px;
    opacity: 0.9;
  }
}

@media (min-width: 768px) {
  .reference-modal-window-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 576px) {
  .reference-modal-window-size {
    margin: 30px auto; 
    width: 100%;
    max-width: 500px;
  }
}
