.toDo__folder-corner {
  position: relative;
  z-index: 1;
  min-height: 400px;
  background-color: #fdf3b6;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 80px solid #eee;
    border-right: 80px solid transparent;
    box-shadow: -7px -7px 7px rgba(0, 0, 0, 0.3);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 79px solid #f9f7f4;
    border-left: 79px solid transparent;
    box-shadow: 0 10px 0 #f9f7f4;
  }
}

.toDo__header-inner {
  display: flex;
  padding: 0 5px;
  margin: 28px 0 28px 0;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
 
}

.toDo__header-menu {
  &-part1,
  &-part2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.toDo__header-remove-all {
  margin-left: -9px;
}

.toDo__header {
  &-select-all-cmd,
  &-remove-all-cmd,
  &-save-cmd,
  &-reference-cmd {
    position: relative;
    border: 0;
    background-color: inherit;
  }

  &-select-all,
  &-remove-all {
    flex-basis: 55px;
    flex-shrink: 2;
    height: 55px;
    width: 100%;
    max-width: 55px;
    opacity: 1.1;
  }

  &-select-all-box:hover,
  &-remove-all-box:hover {
    opacity: 0.5;
  }

  &-select-all-cmd::after {
    content: "Сделать все";
    @extend %tooltip-bottom;  
  }

  &-remove-all-cmd::after {
    content: "Отменить сделанное";
    margin-left: 15px;
    @extend %tooltip-bottom;  
  }

  &-save-cmd::after {
    content: "Сохранить список";
    margin: 7px 0 0 6px;
    @extend %tooltip-bottom;  
  }

  &-reference-cmd::after {
    content: "Справка";
    margin: -1px 0 0 -1px;
    @extend %tooltip-bottom;  
  }

  &-select-all-cmd:hover::after,
  &-remove-all-cmd:hover::after,
  &-save-cmd:hover::after,
  &-reference-cmd:hover::after{
    opacity: 1;  
  }
}

.toDo__header-save-box {
  flex-basis: 40px;
  flex-shrink: 1;
  height: 40px;
  width: 100%;
  max-width: 40px; 
  opacity: 0.8;

    &:hover {
      opacity: 0.5;
    }
}

.toDo__header-reference-box {
  height: 52px;
  width: 100%;
  max-width: 52px;
  opacity: 0.8;

  &:hover {
    opacity: 0.5;
  }
}

.toDo__header-filter-custom {
  position: relative;
  flex-basis: content;
  @extend %body_font;
  font-size: 30px;
  white-space: nowrap;

  & .toDo__header-filter {
    display: none; 
  }
}

.select-selected {
  position: relative;
  z-index: 1;
  padding: 5px;
  color: #212529;
  cursor: pointer;
}

.select-selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  width: 100%;
  background: url(../images/select_underline.png) no-repeat 0% 220%;
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;

  & div {
    position: relative;
    padding: 0 0 0.3em 0;
    color: #212529;
    background-color: #fdf3b6;
    cursor: pointer;
  }

  & div:hover {
    color: inherit;
  }

  & div::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 0;
    display: block;
    height: 15px;
    width: 100%;
    background: url(../images/select_underline_item.png) no-repeat 0% 130%;
    opacity: 0;
    transition: opacity 300ms, transform 300ms ease-in-out;
    transform: scaleX(0);
  }

  & div:hover::before {
    opacity: 1;
    transform: scaleX(1);
  }
}

.select-hide {
  display: none;
}

@media (max-width: 1024px) {
  .toDo__header {
    &-select-all-cmd,
    &-remove-all-cmd,
    &-save-cmd,
    &-reference-cmd {
      cursor: auto;
    }

    &-select-all-box:hover,
    &-remove-all-box:hover {
      opacity: 1.1;
      cursor: auto;
    }

    &-select-all-cmd:hover::after,
    &-remove-all-cmd:hover::after,
    &-save-cmd:hover::after,
    &-reference-cmd:hover::after {
      opacity: 0;
      cursor: auto;
    }
  }

  .toDo__header-save-box:hover {
      opacity: 0.8;
    }

    .toDo__header-reference-box {
      display: none
    }

    .select-selected {      
      cursor: default;
    }

    .select-items {
      & div {
        cursor: default;
      }

      & div:hover {
        color: inherit;
      }

      & div:hover::before {
        transform: scaleX(0);
      }
    }
}
